@import "variables.scss";
@import "~bootstrap/scss/bootstrap";
@import 'aos/dist/aos.css';

$navbarHeight: 100px;

body {
    background-color: $light;
    font-family: $textFont;
}

h1,
h2,
h3,
h4 {
    font-family: $titleFont;
}

html {
    scroll-behavior: smooth;
}

.navbar{
    height: $navbarHeight;
}

.sidebar{
    position: sticky;
    height: calc(100vh - $navbarHeight);
    top: $navbarHeight;
}