@import "variables.scss";
@import "~bootstrap/scss/bootstrap";
@import 'aos/dist/aos.css';

body {
    background-color: lightgray;
    font-family: $textFont;
}

h1,
h2,
h3,
h4 {
    font-family: $titleFont;
}

html {
    scroll-behavior: smooth;
}