<footer class="container-fluid bg-primary mt-auto text-light">
	<div class="d-flex h-100 flex-column flex-column justify-content-center align-items-center justify-content-lg-evenly">
		<div class="d-flex flex-column flex-lg-row justify-content-lg-center align-items-center w-100 fs-5">
			<a class="text-decoration-none me-1" href="/contact">Adopt a Project</a>
			<p class="m-0 d-none d-lg-block">|</p>
			<a class="text-decoration-none ms-1" href="#">Legal mentions</a>
		</div>
	</div>
</footer>