<footer class="container-fluid bg-primary text-light fixed-bottom">
	<div class="d-flex flex-column flex-lg-row justify-content-center align-items-center justify-content-lg-evenly">
		<div class="d-flex flex-column flex-lg-row justify-content-lg-center align-items-center w-100 fs-5">
			<a class="link-secondary me-1" href="/contact">Apside/Adopt a project</a>
			<p class="m-0 d-none d-lg-block">|</p>
			<a class="link-secondary ms-1" href="#">Mentions légales</a>
		</div>
	</div>
</footer>