<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand justify-content-center" href="#">
      <img class="w-75" src="{{ asset('build/images/favicon.png') }}" alt="apsidelogo">
    </a>
    <div class="d-flex justify-content-end">
    <a href="#" class="text-decoration-none mx-3 fs-4"><i class=" px-2 fs-4 bi-house"></i>Home</a>
    <a href="#" class="text-decoration-none mx-3 fs-4"><i class=" px-2 fs-4 bi bi-folder-fill"></i>Projets</a>
    </div>
  </div>
</nav>
  