<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand justify-content-center" href="#">
      <img class="w-75" src="{{ asset('build/images/favicon.png') }}" alt="apsidelogo">
    </a>
    <a href="#" class="text-decoration-none"><i class="fs-4 bi-house"></i>Home</a>
    <a href="#" class="text-decoration-none"><i class="fs-4 bi bi-folder-fill"></i>Projets</a>
  </div>
</nav>
  