<div class="sidebar border-end border-primary border-3">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
        {% if app.user %}
            <p class="text-center text-secondary w-100">
                {{ app.user.firstname }}
                {{ app.user.lastname }}
            </p>
            <div class="d-flex justify-content-center">
                <img class="w-75" src="{{ asset('build/images/photo.jpg') }}" alt="">
            </div>
                <p class="text-center text-secondary w-100 mt-3">
                    {{ app.user.points }}
                </p>
            {% endif %}
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li class="nav-item">
                    <a href="#" class="nav-link align-middle px-0">
                        <i class="fs-4 bi-house"></i>
                        <span class="ms-1 d-none d-sm-inline">
                            Home                       
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link align-middle px-0">
                        <i class="fs-4 bi bi-folder-fill"></i>
                        <span class="ms-1 d-none d-sm-inline">
                            Projets                     
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    